/* General Styles */
body {
    background-color: #F9F9F9;
    
}

/* /////////////////////////////////////////////// */

.imgquiz{
    height:12em;
    overflow:hidden;
    width: 100%;
    transition-duration: 1s
}
.quiz-card{
    position: relative;
    transition-duration: 1s;    
}

.quiz-card::before{
    content: "";
    position: absolute;
    top: 1em;
    left: -10em;
    z-index: 10;
    width: 10em;
    height: 3em;
    background-color: #0D6EFD;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;

    border-radius: 0 .5em .5em 0;
    transition: 1s;
}

.quiz-card.once_attempt::before {
    content: "One Attempt";
}

.quiz-card.multiple_attempts::before {
    content: "Multiple Attempts";
}


.quiz-card:hover{

    transform: translatey(-.5em)
  
}

.quiz-card:hover::before{
    left: 0em;
}

.quiz-card:hover .imgquiz{       
    width: 105%;  
}


/* ////////////////////////////////////////////////////////////////////////////////////// */

.hero-section {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #ffffff;

    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("https://images.pexels.com/photos/3986613/pexels-photo-3986613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 90vh;
    z-index: 1;
    
}

.container1{
    z-index: -1;
}

.hero-section h1 {
    font-size: 4rem; 
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.hero-section h1 span{
    font-size: 2.3rem;  

}

.hero-section p {
    max-width: 30em;
    font-size: 1.2rem; 
    color: #ddd; 
}



.transition-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.transition-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.cta-section {
    background-color: #ffffff;
}



footer {
    background-color: #222;
}

/* @media (max-width: 768px) {
    .hero-section {
        padding: 60px 0;
    }
} */
